.intro{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 45px;
  color: rgb(0, 0, 0); /* Sets the username text color to white */
  font-family: Calibri, sans-serif;
}

h2{
margin-top: -10px;
color: #000000;
}

.post {
display: block;
width: 1000px;
height: 525px;
background: rgb(255, 255, 255);
border: 2px solid rgba(0, 0, 0, 0.034);
background-color: blur(20px);
backdrop-filter: blur(20px); 
box-shadow: 0 0 10px rgba(0, 0, 0, 30);
color: #000000;
border-radius: 10px;
padding: 30px 40px;
margin-top: 100px;

}

.post img {
  width: 30%; /* Set width */
  height: auto; /* Set height */
  object-fit: cover; /* cover the area without stretching the image */
  border-radius: 9px; /* rounded corners */
  margin-bottom: 10px; /* Space between photo and emoji reactions */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 10);
  margin-left: 0 auto;
  margin-top: 15px;
  display: block;
  text-align: left;
}

.clothes-data
{
  /* text-align: right; */
  margin-top: -250px;
  margin-left: 300px;
  font-size: 40px;
}

.Time p
{
  font-size: 20px;
  margin-top: 50px;
  margin-left: 300px;
  /* font-weight: bold; */
}

.engagement p{
font-size: 30px;
display: inline-block;
margin-left: 50px;
margin-top: 10px;
}

.content {
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

/*formatting the posts into main content and will repeat for every user post*/
.main-content {
  padding-top: 60px; /* This should be at least as tall as your navbar */
}