body {
    background-color: aliceblue;
}
.notification-wrapper{
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

.notification-header{
    text-align: center;
}

.notifications-box{
    width: 500px;
    height: auto;
    min-height: 500px;
    border: 5px solid black;
    border-radius: 10px;
    margin-left: 200px;
}