@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    height: auto;
    background: url("../../public/Background.png");
}

* {
    font-family: "Poppins", sans-serif;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
}

.profile-header {
    color: white;
/*    display: flex;
*/    align-items: center;
    text-align: center;
}

.profile-top-three {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /*Three equal-width columns */
}

    .profile-top-three img {
        color: #333;
        margin-right: 5px;
        margin-left: 5px;
        width: 300px;
        height: 300px;
        margin-top: 20px;
        object-fit: cover;
        margin-left: 5px;
        border-style: solid;
        border-width: 25px 3px 3px 3px; /* 25px top, 10px right, 4px bottom and 35px left */
        border-radius: 4%;
    }

.image-container {
    width: auto;  /*Ensure the image takes full width of its container */
    overflow: hidden;  /*Hide any overflow to prevent stretching */
}

.p {
    border: 2px solid white;
    border-radius: 5px;
    background-color: #333;
    color: white;
    margin-right: 800px;
    align-content: center;
    align-items: center;
}



/* username on da page */
.header1 {
    color: white;
    text-align: center;
    margin: 50px 115px 50px 115px;
    font-size: 60px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: #333;
}


/* signout button */
.friends {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 795px;
    text-align: left;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #333;
}





